In [28]:
import numpy as np
import pandas as pd

In [29]:
df = pd.read_csv('customer.csv')

In [30]:
df.sample(5)

    age  gender   review education purchased
4    16  Female  Average        UG        No
23   96  Female     Good    School        No
35   74    Male     Poor    School       Yes
3    72  Female     Good        PG        No
27   69  Female     Poor        PG        No

In [31]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:, 0:2], df.iloc[:, -1], test_size=0.2 )

In [32]:
from sklearn.preprocessing import OrdinalEncoder

In [33]:
x_train

    age  gender
28   48    Male
17   22  Female
14   15    Male
29   83  Female
7    60  Female
22   18  Female
9    74    Male
11   74    Male
38   45  Female
5    31  Female
39   76    Male
25   57  Female
30   73    Male
13   57  Female
0    30  Female
10   98  Female
40   39    Male
6    18    Male
35   74    Male
33   89  Female
46   64  Female
26   53  Female
41   23    Male
42   30  Female
20   57  Female
12   51    Male
49   25  Female
3    72  Female
1    68  Female
16   59    Male
32   92    Male
48   39  Female
23   96  Female
34   86    Male
44   77  Female
31   22  Female
19   97    Male
45   61    Male
37   94    Male
2    70  Female

In [34]:
y_train

28     No
17    Yes
14    Yes
29    Yes
7     Yes
22    Yes
9     Yes
11    Yes
38     No
5     Yes
39     No
25     No
30     No
13     No
0      No
10    Yes
40     No
6      No
35    Yes
33    Yes
46     No
26     No
41    Yes
42    Yes
20    Yes
12     No
49     No
3      No
1      No
16    Yes
32    Yes
48    Yes
23     No
34     No
44     No
31    Yes
19    Yes
45    Yes
37    Yes
2      No
Name: purchased, dtype: object

In [35]:
oe = OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [37]:
# x_train = oe.transform(x_train)
# x_test = oe.transform(x_test)